@import './reset.css';
@import './variables/global.css';
@import './variables/untitled-ui.css';

.pageWrapper {
  height: 100%;
  padding-left: var(--sidebar-width);
}

.marqueeOffset {
  padding-top: var(--marquee-height);
  padding-left: var(--sidebar-width);
}

body {
  overflow-x: hidden;
}
